{% load crispy_forms_tags %}

<!--<form method="POST" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--  {{form|crispy}}-->
<!--  <input type="submit">-->


<!--</form>-->
<style>
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#b5b4b1;
  }
</style>

<div class="form-container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit">
  </form>
</div>
